body.dark-mode {background-color: black;}
body.dark-mode .nav-span {color: white;}
body.dark-mode .process-block {background-color: black;}
body.dark-mode .process-desc {color: white;}
body.dark-mode .process-block {border: 2px solid white;}
body.dark-mode .achieved-process {background-color: white;}
body.dark-mode .timer-span {background-color: rgb(50, 50, 50); color: white;}
body.dark-mode .start-select {color: white;}
body.dark-mode option {background-color: black;}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}
body.dark-mode  {}